<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${visitor!=null}" th:text="${visitor} + ', I hope you interested to hire me'"></title>
    <title th:if="${visitor==null}" th:text="'This is my CV'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>CURRICULUM VITAE</h1>
    <h3>Basic Information</h3>
    <ul>
        <li>Nama : Valerysa Regita</li>
        <li>Birthplace : Depok</li>
        <li>Date of Birth : September 14 1998</li>
        <li>Address : Perumahan Jatijajar</li>
    </ul>
    <br>
    <h3>Education</h3>
    <ul>
        <li>Computer Science, Universitas Indonesia</li>
    </ul>
    <br>
    <h3>Decription</h3>
    <a>A computer science undergraduate</a>
</div>
</body>
</html>
